/*Inspiration*/
#inspiration-png,#home-mgmt {
    background-color: #f6f8fa;
    padding: 60px 0px;
}
/*section#hero-section {
    background-color: #0085a6;
    padding: 48px 70px;
    margin-top: -8px;
    position: relative;
}*/
section#hero-section {
    background-color: #036780;
    padding: 43px 70px;
    margin-top: -8px;
    position: relative;
}
.hero-section h1 {
    margin: 0 auto;
    color: #fff;
}
#contain-mgmt a,#home-con-mgmt a {
    color: #2a3139;
    font-size: 20px;
}
#inspiration-png .entry-metas time,#home-mgmt .entry-metas time {
    font-size: 13px;
}
#inspiration-png .com-img img.wp-post-image,#home-mgmt .com-img img.wp-post-image{
    width: 358.64px;
    height: 217.97px;
    max-width: 100%;
}
#inspiration-png .entry-contain,#home-mgmt .entry-contain {padding: 2rem;
    /*border: 1px solid #eceef1;
    border-radius: 3px;
    background-color: #fff;*/
    font-size: 18px;
}
.blog.logged-in .footer-top,.post-type-archive .footer-top{
    background: #fff !important; 
    border-bottom: 1px solid #eceef1;
    border-top: 1px solid #eceef1;
}
/*How to*/
#home-mgmt .category-mgmt a {
    font-size: 13px;
    font-weight: 600;}
#inspiration-png .categories-mgmt a,#home-mgmt .categories-mgmt a{font-size: 13px;
    font-weight: 700;
    color: #2a3139;border-bottom: 1px solid;}
#home-mgmt .equal-height.col-sm-4,#inspiration-png .equal-height.col-sm-4 {
    width: 29.3333%;
    max-width: 100%;
    border: 1px solid #eceef1;
    border-radius: 3px;
    background-color: #fff;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 28px;
}
#home-con-mgmt,#contain-mgmt {
    display: flex;
    flex-wrap: wrap;
}

/*25*/
/* MEMBERSHIP COLOR RB */

/* EXPRESS COLOR RB */
.para_rb .wpb_wrapper p{
    font-size:18px !important;
}
body.xpress-color .listing ul li {
   
    font-size: 18px!important;
}
/*coral-inprition*/
.img-mgt{background-position-y: -40px !important;}
.myheading1{margin: 0px 0px 20px;}
.rch-spc-hgt{height: 5px !important;}
body.xpress-color .listing ul li { margin: 0px -21px 10px;}

/* about us responsive*/
@media (max-width: 1200px){
.footer-bnr .widget_media_image{width:60%}

/* who we are*/
.rch_spc{margin-bottom:30px !important;}
/* MEMBERSHIP    */

.top_banner { width: 100%;
 margin: 8px auto !important;
 max-width: 100%;}
    
#myclmn_01{margin:0 15px;}  
/*coral-salon*/
.art-im-mgmt.img-mgt{background-position-y: -20px !important;}
.art-im-mgmt.coral-bnr, .salon-bnr {min-height: 400px!important;}

}
@media (max-width:1199px){
    /**** services ****/
#image_mgmt {width: 100%;
min-height: 450px;margin: 0 auto; max-width: 100%;}
    
}

/* home page responsive*/
@media (max-width:1099px){
.banner-top{min-height:480px;}
}

@media (max-width:1024px){
  /*coral-salon*/  
.art-im-mgmt.coral-bnr,.salon-bnr {min-height: 340px!important;}
}

@media (max-width:991px){
.p100{font-size:36px !important;}
h2.main-title{font-size:32px !important}
h2.sub-heading{font-size:26px !important;}
p{font-size:16px !important;}   
    body:not(.menu-sandwich) #main-menu>ul>li.menu-item-has-children>a:before{right:0px !important}
/* about us responsive*/
.footer-bnr {display: unset;}
.footer-bnr .widget_media_image { width: 80%; margin:0 auto;}
.footer-bnr div.quiz-bnr:last-child { padding-top: 70px; margin: 0 auto;display: table;}
/**** EXPRESS COLOR ****/
.emma-bnr {min-height: 200px;}
/**** services ****/    
.rch_pd_tp{margin-top: -45px!important;}
    /**** services ****/
#image_mgmt{min-height:340px;}

    /* MEMBERSHIP    */
    div#member_mgmt .clm_0.vc_col-sm-3 {
    width: 100%;
         max-width: 100%;
    margin-top: 5px;
}
    div#member_two_mgmt .clm_0 {
    width: 100%;
    max-width: 100%;
    margin-top: 5px;
}
    
/*   MEMBERSHIP RB*/
#rb_01 h6.vc_custom_1582542760190 {
    margin-top: 0 !important;
}
}

@media (max-width:768px){
   /*coral-salon*/ 
.art-im-mgmt.coral-bnr,.salon-bnr {
    min-height: 250px!important;} 
}

@media (max-width:767px){
.button-close{color:#000 !important;margin-left:10px;}
.p100{font-size:32px !important;}
#latest_new_img h4{text-align:center !important;}
    #main-menu .dropdown-toggle{color:#000;}
.sub-heading{margin-bottom:6px !important;margin-top: 10px;}
.mb-15{margin-bottom: 5px !important;}
.banner-top{min-height:460px;}
.image-mobile{min-height:400px;}
.rch-mrgn .vc_grid.vc_row.vc_grid-gutter-30px .vc_pageable-slide-wrapper {
margin-right: 0px !important;}
#footer .footer-widget-area{margin-left:5%;}    
    /**** EXPRESS COLOR ****/
.rch-img01{width:45%;margin:0 auto;}
.image_112 {margin: 0 auto;
width: 64%; margin-bottom: 25px;}
    body.xpress-color .listing  ul li{margin:0;}
.rch-spc-hgt {height: 0px !important;}
    body.xpress-color ul li:before{top:2px !important}
#my_list ul li{
margin: 0px 0px 0px !important;}
/**** services ****/    
.rch_pd_tp{margin-top: -80px!important;}    
#image_mgmt { min-height: 262px; width: 80%;}  
/*Inspiration*/
body.post-type-archive-inspiration #main-menu ul li.inspiration a {color: #fff;}
/*home*/
body.home.page-template-default {overflow-x: hidden !important;}
.home.page-template-default .container{max-width: 100% !important;overflow-x: hidden !important;}

}

@media (max-width:732px){
.banner-top{min-height:300px;}
}
@media (max-width:680px){
/**** services ****/
#image_mgmt { min-height: 215px; width: 70%;}
}


@media (max-width:629px){
    /**** EXPRESS COLOR ****/
.emma-bnr {min-height:150px;}
    
/**** services ****/    
.rch_pd_tp{margin-top: -115px!important;}
#image_mgmt { min-height: 200px;}  

/*coral-salon*/
.art-im-mgmt.coral-bnr,.salon-bnr {min-height: 200px!important;}

}
@media (max-width:599px){
    /**** services ****/    
#image_mgmt{min-height: 250px;
 width: 100%;}
}

@media (max-width:505px){
.navbar-toggle{margin-top:-34px}
    /* about us responsive*/
#myheading_0{font-size:32px !important;}
    /**** EXPRESS COLOR ****/
/**** services ****/    
.rch_pd_tp{margin-top: -150px!important;}
#image_mgmt {min-height: 130px;
 width: 70%;}
 /*coral-salon*/
.art-im-mgmt.coral-bnr,.salon-bnr {min-height: 170px!important;}
.art-im-mgmt.img-mgt.vc_custom_1582700916712 {
    background-position-y: -10px !important;}    

}

@media (max-width:490px){
.banner-top{min-height:200px;}

    /* about us responsive*/
.footer-bnr div.quiz-bnr:last-child a{font-size: 14px;    padding: 12px 30px;}
    /**** EXPRESS COLOR ****/
.emma-bnr {min-height:100px;}

}
@media (max-width:409px){
    /*coral-salon*/
.art-im-mgmt.coral-bnr,.salon-bnr {min-height: 135px!important;}
}


@media (max-width:375px){
    /**** services ****/    
.rch_pd_tp{margin-top: -180px!important;}
#image_mgmt {min-height: 130px;
width: 85%;}
}