.emma-bnr{
	min-height: 275px;
}
.myheading1{
 margin:0px 0px 30px;
}
.myheading3 ul>li:before{
	color:#2a3038;
}
 #my_list ul li{
	margin:0px 0px 10px;
}
#para_015 p{
	color:#007396;
}

.separator_1{
	width: 797px;
  margin-left: 206px;
  max-width: 100%;
}
.image_112 img{
	width:472px;
	max-width:100%;
}
.top_banner{
	min-height: 300px;
	width: 1299px;
	margin-left:-87px!important;
}

#image_113 img{
	width: auto;
	max-width:100%;
    height: 284px;
    margin: 30px 0px;
    }
/*.myheading_5{
	margin-top:-60px;
}*/
#emma a{
	border-bottom:2px solid;
}
#amma1 a{
	border-bottom:2px solid;
}
.para_0123{
	margin-top:25px;
}
.para_0124{
	font-size:1.05em;
}
.myheading_06{
	margin: 0px 0px 18px;
    padding: 23px 0px 0px;
}
.para_0125{
	color:#4d5968;
}
.clm_0{
	padding:0 15px !important;
}
/*.vc_column-inner.vc_custom_1581675353465{
		height: 1289px;
	width:264.5px;
	max-width:100%;
  
}*/
/*.mylist_00 ul li{
	margin:0px 0px 18px;
}*/
.mybtn_00 button{
	width: 100px;
    margin-top: 60px;
}
.mybtn_01 button{
	width: 100px;
    margin-top: 75px;
}
.mybtn_03 button{
	width: 280px;
	margin-left: -8px;
	margin-top: 107px; 
}
.myheading_07{
	padding: 23px 0px;
    margin: 100px 0px 0px;
}
.myclmn_0{
	
	width:33.3333%!important;
}
/*.myclmn_0 .vc_column-inner{
	 height: 678px;
}*/
#myclmn_0{
background:#eb9963;
}

#myclmn_01{
	float:right;
	border-color: grey;
    background-color:silver;
}
.cstm_heading{
	font-weight: 700;
}


