/******NO FOOTER*******/
body.no-footer footer{display:none;}

/***FINAL FORM**/

#questionaire-form .bg {
    /*background: #f9f9f9;*/
    padding: 20px 30px 15px;
    margin-bottom: 15px;
}

#questionaire-form .que {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.01rem;
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: 35px;
}

.questionaire-form .note {
    color: #333;
    font-weight: normal;
    font-size: 13px;
    margin-bottom: 10px;
}
.questionaire-form .main-form label {position: relative;margin: 10px 10px 10px 0;}
.questionaire-form .main-form label input {
    position: absolute;
    opacity: 0;
}
#questionaire-form input, #questionaire-form textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
}

#questionaire-form .input-label {
    font-size: 14px;
    font-weight: 600;
    border-radius: 0;
    width: 220px;
    max-width: 100%;
    padding: 6px 10px;
    background-color: #ecfdff;
    border:1px solid #99c0c5;
    color: #0395a7;
    display:inline-block;
    cursor:pointer;
}
#questionaire-form .main-form .input-label:hover, #questionaire-form .main-form label input:checked + .input-label {
    background-color: #0395a7 !important;
    color: #fff;
    border-color: #0395a7 !important;
}
#questionaire-form .main-form .new-color .input-label:hover,#questionaire-form .main-form .new-color input:checked + .input-label {
    transform: scale(1.1);
    z-index: 999999;
    position: relative;
    opacity:0.5;
}
#questionaire-form .main-form label {
    position: relative;
    margin: 10px 30px 10px 0;
}
.questionaire-form .main-form .multi-swatches label span {
    width: 100px !important;
    max-width: 100%;
    height: 100px !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    overflow:hidden;
}
.questionaire-form .main-form .multi-swatches li{
  list-style:none;
  display:inline !important;
}
.questionaire-form .main-form .multi-swatches li.active span{
    background-color: #0395a7 !important;
    color: #fff;
    border-color: #0395a7 !important;
}
.preview .col-sm-6{width:100%;}
.summary .col-sm-4 div {
    padding: 10px;
    border: 1px solid;
    margin-bottom: 15px;
    text-align: left;
}
.summary .col-sm-4 div span{
  padding-left:7px;
}
.warning,.warning img{
  text-align: center;
  max-width: 160px;
  min-height:160px;
}
#questionaire-form .preview .action-button{
  width:160px !important;
}
#questionaire-form fieldset:not(.brand-section):not(.service-checkbox):not(.swatch-selection):not(.preview):not(.summary) .action-button.next {
    width: 0;
    height: 0;
    padding: 0;
}

#questionaire-form .main-form .new-color .input-label {
    padding: 20px 10px;
    transition: .4s ease-in-out;
    color: #fff;
    width: 160px;
    height:122px;
    max-width: 100%;
    font-size: 14px;
    font-weight: 600;
    border: none;
    display: inline-block;
}
#questionaire-form .main-form .new-color .input-label:hover {
    transform: scale(1.4);
    transition: .4s ease-in-out;
    opacity: 1;
}

#questionaire-form .q-1 .input-label {width:155px;max-width: 100%;}    
#questionaire-form .q1-sub-que .input-label {width:115px;max-width: 100%;} 
#questionaire-form .q-2 .input-label {width:192px;max-width: 100%;}    
#questionaire-form .yes-no .input-label {width:70px;max-width: 100%;}  
#questionaire-form .current-shade .input-label {width:104px;max-width: 100%;}  
#questionaire-form .how-much-gray .input-label {width:188px;max-width: 100%;}  
#questionaire-form .q-9 .input-label {width:97px;max-width: 100%;} 
#questionaire-form .q9-sub-1 .input-label {width:246px;max-width: 100%;}
#questionaire-form .q9-sub-2 .input-label {width:362px;max-width: 100%;}
#questionaire-form .q9-sub-3 .input-label {width:184px;max-width: 100%;}
#questionaire-form .q9-sub-4 .input-label {width:163px;max-width: 100%;}
#questionaire-form .sub-que-row .que {font-size:18px;}
#questionaire-form .q-10 .input-label {width:116px;max-width: 100%;}
#questionaire-form .q-11 .input-label {width:128px;max-width: 100%;}
#questionaire-form .q-11 {margin-bottom:60px !important;}
#questionaire-form.questionaire-form .know-color-brand select{width: 200px;max-width: 100%;}
#questionaire-form .que:before{display: none !important;}

#questionaire-form {
  width: 970px;
  max-width: 100%;
  margin: 50px auto;
  text-align: center;
  position: relative;
}

#questionaire-form fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  padding: 20px 30px;
  box-sizing: border-box;
  width: 100%;
  margin: 0 0 50px;
  /*stacking fieldsets above each other*/
  position: absolute;
}
/*Hide all except first fieldset*/
#questionaire-form fieldset:not(:first-of-type) {
  display: none;
}

/*buttons*/
#questionaire-form .action-button {
  width: 100px;
  background: #0395a7;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}
#questionaire-form fieldset input[disabled='disabled']{cursor:not-allowed;}
#questionaire-form fieldset:not(.brand-section):not(.service-checkbox):not(.swatch-selection):not(.preview):not(.summary1) .action-button.next{width:0;height:0;padding:0;}
#questionaire-form .action-button:hover,
#questionaire-form .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #67d5bf;
}
#questionaire-form fieldset.brand-section label{
  margin-right:0;
}
/*headings*/
.fs-title {
  font-size: 16px;
  text-transform: uppercase;
  color: #63a2cb;
  margin-bottom: 10px;
}
.fs-subtitle {
  font-weight: normal;
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    counter-reset: step;
    padding-left: 15px;
    width: 520px;
    max-width:100%;
    margin: 0 auto 20px;
}
#progressbar li {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  width: 8%;
  float: left;
  position: relative;
}
#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 25px;
  line-height: 25px;
  display: block;
  font-size: 12px;
  color: #333;
  background: white;
  border-radius: 3px;
  margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1;
  /*put it behind the numbers*/
}
#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
  background: #0395a7;
  color: white;
}
.help-block {
  font-size: 0.8em;
  color: #7c7c7c;
  text-align: left;
  margin-bottom: 0.5em;
}

#questionaire-form .form-submit{
    float:none;
    text-align: center;
    cursor:pointer;
}

/***********W O O C O  M M E R C E************/

.woocommerce div.product div.images img {
    display: block;
    width: 50%;
    height: auto;
    box-shadow: none;
    max-width: 50%;
}