body.postid-3070.single-product .woocommerce-product-gallery,
body.postid-3070.single-product div.product .price,
body.postid-3070.single-product .entry-categories,
body.postid-3070.single-product #booking_price_text{
	display:none;
}
body.postid-3070.single-product .woocommerce div.product .product_title{
	margin-top:50px;
	font-size: 28px !important;
	color:#01525d !important;
	font-weight:bold;
}
body.postid-3070.single-product .product form.cart{padding:5% 5% 8% !important;}
body.postid-3070.single-product .product form.cart 
.booking-wraper div .time-picker-wraper .extra-resources label{color:#000 !important;}
body.postid-3070.single-product .product .summary{width:100%;}
body.postid-3070.single-product form{position:relative;}
body.postid-3070.single-product form .ph-calendar-container .time-calendar-date-section,
body.postid-3070.single-product form .ph-calendar-container .time-picker,
body.postid-3070.single-product form .booking-info-wraper{
	width: 48%;
    padding: 30px;
    margin: 15px auto;
    background: #01525d;
    float:left;
}
body.postid-3070.single-product form .ph-calendar-container .time-picker
{
	padding:0px !important;
	max-height:349px !important;
}
body.postid-3070.single-product form .ph-calendar-container .time-picker ul
{
	padding:30px !important;
}
body.postid-3070.single-product form .ph-calendar-container .time-picker,
body.postid-3070.single-product form .booking-info-wraper{
	float:right;
	margin-right:1%;
}
body.postid-3070.single-product form button{
	display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -30px !important;
}
body.postid-3070.single-product form .booking-wraper
 .time-picker-wrapper .extra-resources label{
 	color:#01525d !important;
 }
body.postid-3070.single-product form .ph-calendar-container 
.time-calendar-date-section li{
	padding:0;
}
body.postid-3070.single-product form .ph-calendar-container 
.ph-ul-date li.ph-calendar-date .ph_calendar_day{
	padding:5px 10px;
}
body.postid-3070.single-product form .ph-calendar-container 
.ph-ul-date li.ph-calendar-date.booking-disabled span{
	color: #999c9d !important;
}