/*
Theme Name: Visual Composer Starter Child
Theme URI: http://visualcomposer.io
Description: Visual Composer Starter child theme
Author: The Visual Composer Team
Author URI: http://visualcomposer.io
Template: visual-composer-starter
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: light, blog, starter, responsive-layout, accessibility-ready, sandwich-menu
Text Domain: visual-composer-starter-child
*/




body{color:#2a3139;}
h1,h2,h3,h4,h5,h6,a,p,div,body{
	font-family: century-gothic !important;
}
@font-face {
  font-family: century-gothic;
  src: url('./fonts/century-gothic-font/CenturyGothic.ttf');
  font-weight: normal;
}

@font-face {
  font-family: century-gothic;
  src: url('./fonts/century-gothic-font/GOTHICB.TTF');
  font-weight: bold;
}

.content-wrapper{
	padding: 0;
	margin:-8px 0 0;
}


/******H E A D E R*******/
body.logged-in .top-head-second ul#menu-header_1 .login-logout a {font-size:0 !important;}
body.logged-in .top-head-second ul#menu-header_1-1 .login-logout a {font-size:0 !important;}
body.logged-in .top-head-second .login-logout a:after {content:'Logout'; font-size:15px;}

.two .fa-camera:before {
	content: "\f16a";
}
.two .fa-2x {
	font-size: 14px;
}
.fa-2x.fa-facebook{
	font-size: 15px;
}
.appointment-btn  a{
	border: 2px solid #0085a6;
	border-radius: 40px;
	padding: 14px 60px;
	text-decoration: none;
	font-size: 16px;
	color: #0085a6 !important;
	font-weight: bold;
}
#menu-item-95 a:hover{
	background: #0085a6;
}
.two ul li a{
	color:#dcd8d3;
}
.two ul li a:hover{
	color: #B1AC1C;
}
.two:last-child li {
	padding: 5px 0 2px;
}

#footer a,.color-bright-gray p,
.color-bright-gray a,.entry-content p,
.custom-menu-class ul li a{
	color:#4d5968;
}
.text-white p,.text-white,#menu-item-95 a:hover{
	color: #fff;
}
.main-content {
    padding-bottom:0px;
}

/******C O M M O N****/
.mb-35{
	margin-bottom:35px;
}
.mb-25{
	margin-bottom:25px;
}
.mb-15{
	margin-bottom:15px;
}
.p100{
	padding:100px 0px;
}
.p80{
	padding:80px 0px;
}
.p50{
	padding:50px 0px;
}
.font-20 li,.font-20 p{
	 font-size: 20px !important;
	}
.entry-content p,.font-18 p{
	font-size: 18px;
}
.entry-content .font-16 p{
	font-size: 16px;
}
.color-exp .ph5{padding:0 5%;}
.terms-services .entry-content{
	width:975px;
	margin:0 auto;
	max-width: 100%;
}
.terms-services ul li{
	padding-left:0;
	font-size: 16px;
	list-style:disc !important;
	color:#4d5968;
	margin-left: 20px;
}
/**********H O  M E ****/
.article-news .vc_gitem_row .vc_gitem-col {
	background: #fff;
}
body ul{
	padding-left:0;
}
body.no-quiz-section .footer-top,.article-news .vc_gitem-post-data-source-post_excerpt,.article-news .vc_btn3-container,body ul li:before{
	display: none;
}

 #latest_new_img .vc_gitem-animated-block .vc_gitem-zone{
 	height: 194.06px;
 	width: 345px;
 	max-width: 100%;
 	margin:0 auto;
 }

/*****who we are******/
.banner-top {
	min-height: 669px;
	background-position: top  center !important;
}
.banner-top_2 {
	min-height: 669px;
} 
.color-services-bnr{
	min-height:285px;
}
.banner-top_3 {
	min-height: 300px;
	background-size: contain !important;
	background-position: top 25px center !important;
}
#who-we-are {
    width:830px;
    margin:0 auto;
    max-width:100%;
}
.services-block-common h4,.para-common p{
	padding-top: 0.618em;
}
.btn_0 button{
	padding: 20px 83.33px;
	width: 300px;
	height: 57px;
	margin-top: 75px;
	margin-left: 30px;
	background-color: #2f7c9b !important;
}
#image_mgmt {
	max-width: 100%;
	min-height: 550px;}

/********S A L O N***/
.coral-bnr,.salon-bnr{
	min-height:430px;
	/*background-size: 102% !important;*/
}
.step-5{
	min-height:437px;}

/*****ABOUT US******/
.transform-salon{
	padding-top:15px;}

.mylist_00 ul li{
	padding-left:0;
}
/*****Express-color****/
body.xpress-color ul li:before{
font-size: 23px;
top: 4px;
display: block;
color:#2a3139;
left:10px;
}
.emma-bnr{
	min-height: 275px;
}
.myheading1{
 margin:0px 0px 30px;
}
body.xpress-color .listing ul li{
	margin:0px -21px 30px;
	font-size:18px;
	line-height:2;
}

/***FOOTER*****/
#footer h3.widget-title{
	color: #2a3139;
	font-size: 16px;
	font-weight:bold;
}
#footer ul li{
	margin-bottom:14px;
}
#footer p{
	font-size: 15px;
}
 
#footer a:hover ,body a:hover{
	color: #007693 !important;
}
.footer-top{
	background:#f7f8fc;
}
.footer-bnr{
	display:flex;
}
.footer-bnr div.quiz-bnr:last-child{
	padding-top: 88px;
    margin-left: 52px;
}
.footer-bnr div.quiz-bnr:last-child a{
	color: #fff !important;
	font-size: 19px;
	background: linear-gradient(to bottom,#0085a6 0%,#00667f 100%);
	border-radius: 30px;
    padding: 17px 60px;
	border-radius: 30px;
	font-weight: bold;
}
.footer-left-block{
	padding: 80px 0;
    border-top: 1px solid #eceef1;
    margin-top: 100px;
    font-size: 15px;
}
.copyright{
	display: inline-block;
	text-align: center;
	float:left;
}
.footer-bottom .footer-left-block a{
	text-decoration: underline;
	cursor:pointer;
}
.footer-bottom .copyright>span {
    display: inline-block;
}
.footer-bnr{
	width: 90% !important;
	max-width: 100%;
}

#footer .sub-menu{
	margin-top:18px;}

/****product****/

.woocommerce.woocommerce-page h1 {
    padding-top: 40px;
    font-size: 36px;
    color: #01525d;
    font-weight: 600;
    letter-spacing: 1px;
}
.woocommerce ul.products li {
    border: 1px solid #ccc;
    padding: 15px !important;
    box-sizing: border-box;
    box-shadow: 0 0 5px #bdbdbd;
}
.woocommerce ul.products li.product .button,.woocommerce ul.products li.product .button:hover {
    font-size: 15px;
    letter-spacing: 1px;
    background-color: #007f8f;
    color: #fff !important;
}
body.woocommerce-page .products .price .amount {
    font-size: 24px !important;
    font-weight: 600;
    color: #000;
}
body.woocommerce-page:not(.product-parent-cat-25) .woocommerce h2.woocommerce-loop-product__title {
    color: #007f8f;
    font-size: 14px !important;
    font-weight: bold;
}
section.related.products {
    clear: both;
}
.product-template-default.single .col-md-10 > .entry-meta,.product-template-default.single .col-md-2 > .entry-author-data {
    display: none;
}
.product-template-default.single .col-md-10{
	width:100%;
}
.single-product .entry-content .product .cart {
    background-color: #007f8f !important;
}
.single-product div.product form.cart {
    border-radius: 5px;
    padding: 8% !important;

}

.single-product .product .product_meta {
    display: none;
}
.single-product .product.instock .summary.entry-summary .price .amount {
    font-size: 16px;
    color: #000;
    background: #bee4e8;
    padding: 6px 40px;
}
.woocommerce div.product div.images .woocommerce-product-gallery__trigger {
	display: none;
}
body.woocommerce-page:not(.products-page) .woocommerce .related.products>h2 {
    font-size: 32px;
    color: #007f8f;
    font-weight: 600;
    margin: 0 0 25px;
    text-align: center;
}
.woocommerce-page h1.entry-title {
    font-size: 36px;
    color: #01525d;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 20px;
}
.woocommerce-cart .woocommerce-cart-form table.cart td {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 15px 12px !important;
}
.woocommerce-cart .woocommerce-cart-form table.cart th {
    border: none;
    border-bottom: 1px solid #007f8f;
    padding: 10px 12px !important;
}
.woocommerce-cart .woocommerce-cart-form table.cart {
    border: none;
    table-layout: auto;
}
.woocommerce-cart .cart-collaterals h2 {
    color: #01525d;
    font-weight: 600;
    text-align: center;
    margin-bottom: 25px;
}
.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
    float: none;
    width: 70%;
    text-align: center;
    display: table;
    margin: 0 auto;
}
.woocommerce-cart .cart-collaterals .checkout-button.button {
    font-size: 18px;
    height: 55px;
    width: auto;
    background-color: #139aab !important;
}

.last-updated p{
	font-size: 14px;
}

/*****R E S P O N S I V E******/
@media(min-width: 1660px)
{
	body:not(.menu-sandwich) #main-menu>ul{margin-left:10% !important;}
}

@media(min-width: 768px)
{
	/*.top_header,.custom-menu-class{
		display:block !important;
	}*/
	.footer-bnr,.navbar-center,.top-head-second {
		width: 88%;
		max-width: 100%;
		margin: 0 auto;
	}
	.custom-menu-class ul{
		padding: 15px 0;
	}
	.custom-menu-class{    
		float: right;
	    line-height: normal;
	}
	.custom-menu-class ul{
		display:inline-block;
	}
	.custom-menu-class ul li{
		display:block;
		float: left;
		padding: 0 1em;
		font-size: 22px;
	}
	.custom-menu-class ul li.appointment-btn{
		padding-right:0;
	}
	
	body:not(.menu-sandwich) #main-menu{
		margin-left: 0 !important;
		margin-top:70px;
		background-color: #edeeee;
	}
	
	body:not(.menu-sandwich) #main-menu>ul {
	    display: inline-block;
	    padding-right:80px;
	   /* margin: 5px 0 0;*/
	    margin: 0px 0 0;
	}
	/*.navbar-nav>li {
		float: right;
	}*/
	#header .container{
		width: 100%;
		padding: 0px;
	}
	body:not(.menu-sandwich) #main-menu>ul>li a{
    padding: 8px 22px !important;
    margin: 1px 4px;
    text-transform: uppercase;
	}
	.custom-menu-class li:not(.appoint-btn) a{
		    text-transform: uppercase;
	}
	body:not(.menu-sandwich) #main-menu>ul>li a:before
	{
		text-transform: lowercase;
	}
	body:not(.menu-sandwich) #main-menu>ul>li.menu-item-has-children>a:before{
	top: 9px !important;
    right: 5px !important;
	}

	.navbar-wrapper {
		margin: 0;
		padding: 22px 0px 0px !important;
	}
	img.custom-logo{
		width: 230px !important;
	}
	ul#menu-header_1{
		list-style-type: none !important;
		display:flex;
		justify-content: flex-end;
		margin-top: -40px;
		padding-bottom: 5px;
	}
	 .top_header {
	    width: 100%;
	    background-color: #024c63;
	}
	ul#menu-header_1 a{
		color: #ffd576 !important;    
	    letter-spacing: .8px;
	    padding: 0 6px;
	    font-size: 15px!important;
	    font-weight: 600;
	    line-height: 1.0;
	    }
	.two ul {
		height: 40px;
    	margin: 0;
		list-style: none;
		display: inline-flex;padding: 0px;
	}
	.two ul li {
		padding: 6px 15px 0px;
	}
}

@media(max-width: 991px)
{
	.custom-menu-class ul li{
		padding: 0 15px;
		font-size: 18px;
	}
	.appointment-btn a {
		padding: 14px 35px;
		font-size: 14px;
	}
	body:not(.menu-sandwich) #main-menu>ul>li a {
    padding: 8px 12px !important;
	}
}

@media(max-width: 767px){
	
	#main-menu {left:-270px;}
	#main-menu.open {margin-left:270px;}
	.navbar-brand {display:inline-block; width:auto; float:none; padding:0;}
	.navbar-brand img {width:175px; height:auto;}
	.navbar-toggle {display:inline-block !important; float:left; margin:0 10px 0 -10px !important;}


	body.user-login-page {background: url(https://coloronly.com/wp-content/uploads/2020/03/back-1.jpg) no-repeat; background-size:cover; min-height:100vh;}
	body .woo-login-popup-sc-modal.woo-login-popup-sc-modal-off {width:100%; margin:0 !important; background:none; border:0 !important;}
	body.user-login-page .woo-login-popup-sc-left {background:none !important;}
	body.user-login-page .content-wrapper {background:none;}
	body.user-login-page .container > .content-wrapper >.row > .col-md-12 {padding:0;}

	#main-menu{
		background-color: #edeeee;
	}

	#main-menu ul li a{
		color:#4d5968;
	}
	.top-head-second {
		margin-top:25px;
	}
	.two{
		position:relative;
	}
	.two ul{
		display: flex;
	}
	.two ul li{
		list-style:none;
		padding:0 15px;
		margin:0 10px;
	}
}

@media(max-width: 500px)
{
	.top-head-second div:last-child ul{display:block;}
	.top-head-second div:last-child ul li{display:inline-block;}
	.top-head-second ul li.book-appointment {margin:20px 0;}
	.top-head-second ul li.book-appointment a{
		border: 2px solid #0085a6;
    border-radius: 40px;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
    color: #0085a6 !important;
    font-weight: bold;
	}
}